*{
    margin: 0;
    padding:0;
    overflow-x: hidden; 
    
}

@font-face{
    font-family: "raleway";
    src: url("Raleway-VariableFont_wght.ttf");
}
@font-face{
    font-family: "raleway-bold";
    src: url("static/Raleway-Bold.ttf");
}
.filtre a, h2{
    font-family: "raleway-bold";
}
body{
    font-family:"raleway";
}
@media all and (min-width:320px){
.wrapper{
width: 100%;
 }

/* *debut header */

header{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    
    
}
header img{
    height:50px;
    margin-left:10px;
}

header h1{
    margin-top:20px;
font-size: 15px;
margin-right: 10px;

}

header a{
    color:  #0065FC;  

}
a{
    text-decoration: none;
    
}


/* *fin header */
/** debut main */
main{
display: flex;
flex-direction: column;

}
/* *debut search */
.search{

    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

}
.h-a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.h-a div{
    width: 50%;
    text-align: center;
    font-size: 17px;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 20px;
}
#h-mobile{
border-bottom:3px solid  #0065FC;
}
#h-mobile a{
    color: #0065FC;
}
.h-a a{
    color:black;
}
.h-a a:hover{
    color:#0065FC;
}
.h-a-desktop{
    display:none;
}
.search-bar{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.search-bar aside{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    width: 300px;
    line-height: 2em;
    font-size: 14px;
    text-align: center;
}
.bar{
    display: flex;
    flex-direction: row;
}
.position{
    border: 12px solid #F2F2F2 ;
    border-radius: 30% 0 0 30%;
    width: 18px;
    height: 18px;
    background: no-repeat  #F2F2F2;
    
}

input{
height:39px ;
width: 180px;
margin-top: 3px;
border: #F2F2F2;
border-right: none;
border-left: none;
font-weight: bold;
font-size: 12px;
}


.loupe{
    border: 12px solid #0065FC ;
    border-radius: 30% 30% 30% 30%;
    width:18px ;
    height:18px ;
    background:no-repeat #0065FC;
    
}
.rechercher {
    display:none;
}

.filtre{
    margin-top: 50px;
    flex-direction: column;
    flex-wrap:wrap;
    align-items:center;
}
.filtre h3 {
    margin-left: 20px;
    font-size: 20px;

}
.theme-container{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}

.theme  {
    border: 3px solid #F2F2F2 ;
    border-left: none;
    border-radius:30%;
    height: 30px;
    width: 130px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    
    margin-top: 10px;
    
}
#family{
    width: 105px;
}
.animaux{
    width: 170px;
}
.icone {
    width: 10px;
    height: 10px;
    border: 10px solid #F2F2F2;
    border-radius: 60%;
}
.theme a{
    margin-left: 10px;
    font-size: 14px;
    color: black;
    align-self: center;
}
#eco{
    background:  no-repeat #DEEBFF center  ;
}
#fam{background: no-repeat #DEEBFF center ;
}
#rom{background: no-repeat #DEEBFF center ;}
#pet{background: no-repeat #DEEBFF center ;}
.info{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;    
}
#info-icone{
    background:  no-repeat center #F2F2F2;
    border:5px solid #F2F2F2;
    border-radius: 60%;
    width: 10px;
    height: 10px;

}
.info p {
    margin-left: 3.125%;
    font-size: 13px;
    align-self: center;
}
/* fin search */
/* debut populaire */
.populaire{     
    background-color:  #F2F2F2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
section aside{
    margin-bottom: 30px;
    margin-top: 40px;
    align-self: flex-start;
    width:270px;
    margin-left: 6.25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chart-line{
    background: no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
.vignette{
   align-self: center;
    margin-bottom: 50px;
    
    border:1px solide white;
    box-shadow: white 5px 5px 5px;
    width:280px;
   border-radius: 14%;
   background-color:white;
   display: flex;
   flex-direction: row;
   font-size: 12px;

}
.vignette img {
    width: 110px;
    height: 110px;
    object-fit: cover; 
    border-radius: 14% 0 0 14%;
    margin-right:20px;
}
#hotes{
    width: 170px;
}
#hotelbb{
    width: 120px;
}
.detail{
    margin-top: 10px;
}
.vignette p{
    line-height: 2rem;
    
}
.note{
display: flex;
}
.populaire .note{
    margin-top: 10px;
}
.star-solid{

width: 10px;
height: 10px;
}


/* fin populaire */


/* debut hebergement */
.hebergement {
display: flex;
flex-direction: column;
}
.hebergement aside{
margin-left: 20px;
}
.vignette2{
border: 1px solid #F2F2F2;
box-shadow: #F2F2F2 5px 5px 5px;
width: 260px;
border-radius:10%;
margin-top: 20px;
padding-bottom: 20px;
margin-left: 25px;
font-size: 10px;
}
.vignette2 img{
    width:260px;
    height:80px;
    object-fit: cover; 
    border-radius: 10% 10% 0 0%;
}
.vignette2 .detail{
    margin-left: 15px;
}
.vignette2 p {
margin-top: 5px;}
.hebergement a{
    color:black;
    font-weight:bolder;
    font-size:15px;
    align-self:flex-start;
    margin-top: 20px;
    margin-left: 35px;
}
/* fin hebergement */
/* debut activite */
.activite{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.activite aside{
    margin-left: 30px;
}
/* fin activite */
/* debut footer */
footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color:  #F2F2F2;
    padding-bottom: 50px;
}
footer div{
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;
}
footer h2{
    margin-bottom: 10px;
    font-size: 18px;
}

footer a {
    color: black;
    font-size: 13px;
}
/* fin footer */
}
/* mobile M */
@media all and (min-width:375px){
    section aside{
        
        width:300px;
    }
    .position{
        border: 15px solid #F2F2F2 ;
        width: 20px;
        height: 20px;
        
        
    }
    
    input{
    height:45px ;
    width: 200px;
   
    font-weight: bold;
    font-size: 15px;
    }
    
    
    .loupe{
        border: 15px solid #0065FC ;
       
        width:20px ;
        height:20px ;
       
        
    }
    .filtre h3{
        font-size: 25px;
        
    }
    
    .theme{
        width:150px;
        height:45px;
    }
    
    .icone{
        height: 25px;
        width: 25px;
    }
    #family{
        width: 130px;
    }
    .animaux{
        width: 190px;
    }
    .info{
       margin-left: 30px;

    }
    #info-icone{
        border: 5px solid #F2F2F2;
        width: 25px;
        height: 25px;}
    .info p {
        font-size: 15px;
        margin-left: 18px;
        

    }
    .vignette{
       
         width:320px;
         font-size: 14px;
        
     
     }
     .vignette img {
         width: 130px;
         height: 130px;
         object-fit: cover; 

         border-radius: 14% 0 0 14%;
         margin-right:20px;
     }
     #hotes{
         width: 200px;
     }
     #hotelbb{
         width: 140px;
     }
      .note{
        margin-top: 10px;
    }
    .star-solid{
    
    width: 15px;
    height: 15px;
    }
     .vignette2{
       
        width: 320px;
        font-size: 15px;
       
        }
        .vignette2 img{
            width:320px;
            height:120px;
            
        }
        footer h2{
            font-size: 20px;
        }
}
/* mobile l */
@media all and (min-width: 425px){
    .wrapper {
        width:100%;
        }  
        header{
            width: 100%;
        }
        .search-bar aside{
            font-size: 17px;
            width:340px;
            }  
            .position{
                border: 20px solid #F2F2F2 ;
                width: 25px;
                height: 25px;
                
                
            }
        input{
            width: 200px;
            height:60px;
            }
        .loupe{
            border: 20px solid #0065FC ;
               
            width:25px ;
            height:25px ;
               
                
            }
        .filtre h3{
            font-size: 27px;
            margin-left: 50px;
        }
        .theme-container{
            margin-left: 40px;
            width:350px;
        }
        .animaux{
            width: 190px;
        }
        .info p {
            font-size: 17px;
        }
        .populaire{     
            width:100%;  
        }
        section aside{
            width: 87.1%;
            font-size:17px;
        }
        .vignette{
            width:370px;
            font-size: 16px;
         
         }
         .vignette img{
             width:140px;
             height:140px;
         }
         #hotes{
            width: 220px;
        }
        #hotelbb{
            width: 150px;
        }
         .vignette2{
            width: 360px;
            font-size: 13px;
            }
            .vignette2 img{
                width:360px;
                height:120px;
            }
        
}
/* fin mobile l */
/* tablet */

@media all and (min-width:768px){
    .wrapper {
        width: 100%;
        }  
        header{
            width:740px;
        }
        header img{
            height:80px;
            margin-left: 15px;
        }
        header h1{
        margin-top:35px;
        font-size: 25px;
        }
        .h-a div{
            font-size:25px;
        }
        .search-bar aside{
            font-size: 27px;
            width:560px;
            }  
            
            .position{
                width: 40px;
                height: 40px;
                }
            
            input{
                width: 350px;
                height:60px;
                }
            .loupe {
                width: 40px;
                height: 40px;
            } 
            .filtre{
        
            font-size: 25px;
            }  
            .filtre h3{
                margin-left: 140px;
            } 
            .theme-container{
            
                width: 450px;
                margin-left: 140px;
            }
            .theme  {
                height: 50px;
                width: 230px;
                }
            .icone {
                width: 35px;
                height: 35px;
                    }
             #family{
                 width: 190px;
             }       
            .theme a{
                font-size:25px ;
                 }
            .animaux{
                width: 300px;
                }
            .info{
               margin-top: 40px;
                margin-left: 140px;
            }    
            .info p {
                font-size: 20px;
                }
                .populaire{     
                    width: 100%;  
                }
               
                section aside{
                    width: 650px;
                    font-size:25px;
                    margin-left:40px;
                    margin-bottom:40px;
                }
                .chart-line{
                    width: 40px;
                    height: 40px;
                }
                
                .vignette{
                    width:700px;
                    font-size: 25px;
                 
                 }
                 .vignette img {
                    width: 320px;
                    height: 270px;
                    object-fit: cover; 
                }
                #hotes{
                    width: 495px;
                }
                #hotelbb{
                    width:330px
                }
                .vignette p{
                    line-height: 4rem;
                }
                .vignette .note{
                    margin-top:40px;
                }
                .star-solid{
                    width: 25px;
                    height: 25px;
                    }
                    .star-regular{
                    width: 25px;
                    height: 25px;
                    }
                    
                 .vignette2{
                    width: 660px;
                    font-size: 20px;
                    margin-left:60px;
                    }
                    .vignette2 img{
                        width:660px;
                        height:270px;
                    } 
                    footer div{
                        margin-left: 60px;
                    }
                    footer h2{
                        font-size:30px;
                        margin-bottom: 20px;
                    }
                    footer p{
                        margin-top: 10px;
                    }
                    footer a {
                        font-size: 20px ;
                    }  
    
}
@media all and (min-width:1024px){
    .wrapper{
        width:100%;
        
        
     }
     header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
        
    }
    header img{
        height:90px;
        margin-left:20px;
       
        
    }
    header h1{
    margin-top:40px;
    font-size: 18px;
    
    }
    
    header a{
        color:  #0065FC;  
    
    }

   
    nav{
        
      
        display:flex;
        flex-direction:row;
       

    }
    ul{
        width:400px ;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    li{
        border-top: 1px solid white;
      
        
    }
    .h-a-desktop{
       
       display: flex;
    width: 100px;
    }
    
    .h-a-desktop a{
        color: black;
    }
    #h{
        border-top:solid 1px  #0065FC;
        width:200px ;
        display: flex;
    
    
        
    }
    #h a{
        color:  #0065FC;
        margin-left: 50px;
       
    }
    a{
        text-decoration: none;
        
    }
    main{
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-around;
        
        }
        .search{
            margin-top:50px;
            width:100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 100px;
            margin-left: 20px;
        
        }
        .h-a{
                
            display: none;
            
        }
       
        .search-bar{
            
            display: flex;
            flex-direction: column;
            align-items:flex-start;
        
        }
        .search-bar aside{
            width:700px;
            margin-bottom: 25px;
            margin-left: 5px;
            line-height: 2em;
            font-size: 15px;
            text-align:left;
        }
        .bar{
            display: flex;
            flex-direction: row;
        }
        .position{
            border: 10px solid #F2F2F2 ;
            border-radius: 30% 0 0 30%;
            width: 30px;
            height: 30px;
            background: no-repeat center #F2F2F2;
        }
        input{
        height: 40px;
        width: 220px;
        margin-top: 3px;
        border: #F2F2F2;
        border-right: none;
        border-left: none;
        font-size:14px;
        }
        .loupe{
            border: 10px solid #0065FC ;
            border-radius: 30% 30% 30% 30%;
            width: 30px;
            height: 30px;
           display: none;
        }
        .rechercher{
           display:flex;
           flex-direction:row;
           justify-content: center; 
           border:solid 1px #0065FC;
           background:#0065FC;
            width:130px;
            border-radius:0 18% 18% 0;
            height:40px;
            
        }
        .rechercher p{
            color:white;
            margin-top:10px;
            font-size:18px;
        }
        .filtre{
            
            line-height: 2em;
           display: flex;
           flex-direction:row;
           justify-content: flex-start; 
           font-size: 20px;
            margin-left:0px ;
            
        }
        .filtre h3{
            margin-left: 0;
        }
        
        .theme  {
            border: 4px solid #F2F2F2 ;
            border-left: none;
            border-radius:25%;
            height: 50px;
            width: 190px;
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            
        }
        .theme a{
            margin-left: 20px;
            font-size: 17px;
            color: black;
        }
        .theme-container{
            width: 90%;
            margin-left: 0;
        }
        #family{
            width:150px;
        }
        .animaux{
            width: 240px;
        }
        .icone {
            width: 30px;
            height: 30px;
            border: 10px solid #F2F2F2;
            border-radius: 60%;
        }
        
       
        .info{
           width:100%;
            margin-left: 0;
            margin-top:20px;
            display: flex;
            flex-direction: row;
            
        }
        #info-icone{
            
            border:1px solid #F2F2F2;
            width: 20px;
            height: 20px;
            margin-top: 10px;
        }
        .info p {
            margin-left: 10px;
            font-size: 12px;
        }
        .populaire{     
            order:1;
            background-color:  #F2F2F2;
            width:33%;
            
            border-radius:5%;
            display: flex;
            flex-direction: column;
            align-items: center;  
        }
        section aside{
            
            margin-bottom: 30px;
            margin-top: 40px;
            align-self: flex-start;
            width: 280px;
            margin-left: 30px;
            font-size: 13px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .chart-line{
            
            width: 20px;
            height: 20px;
            margin-top: 5px;
        }
        .vignette{
           align-self: center;
            margin-bottom: 50px;
            border:1px solide white;
            box-shadow: white 5px 5px 5px;
            width:310px;
           border-radius: 18%;
           background-color:white;
           display: flex;
           flex-direction: row;
           font-size: 10px;
        
        }
        .vignette img {
            width: 160px;
            height: 140px;
            border-radius: 18% 0 0 18%;
            margin-right:20px;
        }
        .vignette p{
            margin-top: 10px;
        }
        #hotes{
            width:250px;
        }
        #hotelbb{
            width:180px;
        }
        
        .vignette p{
            line-height:normal;
            
        }
        
        .note{
        
        display: flex;
        
        }
        .star-solid{
       
        width: 15px;
        height: 15px;
        }
        
        .hebergement {
            order:0;
            
            background-color:  #F2F2F2;
            border-radius:5%;
            width:60%;
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;

            }
            .hebergement aside{
            width:100%;
            margin-left: 30px;
            margin-bottom: 0;
            
            }

            .vignette2{
            border: 1px solid #F2F2F2;
            box-shadow: #F2F2F2 5px 5px 5px;
            background-color:white;
            width: 170px;
            border-radius:10%;
            margin-left: 0;
            padding-bottom: 10px;
            font-size: 9px;
            }
            .vignette2 img{
                width:170px;
                height:120px;
                border-radius: 10% 10% 0 0%;
            }
            .vignette2-container{
                width: 98%;
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;
                justify-content: space-around;
            }
            .vignette2 .detail{
                margin-left: 10px;
            }
            .vignette2 p {
                margin-top: 5px;
            }
            .hebergement a{
                color:black;
                font-size:15px;
                align-self:flex-start;
                margin-top: 20px;
                margin-left: 30px;
            }
            .activite{
                order:2;
                width:100%;
                align-self: flex-start;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            
            }
            .activite aside{
                margin-left: 30px;
                width:100%;
            }
           .vignette2-container2{
                width: 100%;
                display: flex;
               flex-direction: row;
               justify-content: space-around;
           }
            .petit {
                
                display: flex;
                flex-direction: column;
             
            }
            
            
            #vieux{
                height:400px;
                width:250px;
                
            }
            #vieux-port{
                width: 250px ;
            }
            #parc-national{
                width: 230px;
            }
            #national{
                width:230px;
                height:400px;
            }
            #fort-de{
                width:240px;
            }
            #fort-de img{
                width:240px;
                height:180px;
            }
            #ile{
                width:240px;
                margin-top:40px;
            }
            #ile img{
                width:240px;
                height:130px;
            }
            #notre-dame{
               width:220px; 
            }
            #notre-dame img{
                width:220px;
                height:140px;
            }
            #parc-longchamp{
                width:220px;
                margin-top:60px;
            }
            #parc-longchamp img {
                width:220px;
                height:150px;
            }

            footer{
                margin-top: 50px;
                display: flex;
                flex-direction: row;
               
                padding-bottom: 50px;
            }
            footer div{
                width: 100%;
                margin-top: 40px;
                
                margin-left: 40px;
            }
            footer h2{
                margin-bottom: 20px;
            }
            footer a {
                color: black;
                font-size: 18px;
            }
    }

@media all and (min-width:1440px){
    .wrapper{
        width:100%;
     }
        
       
     .theme{
        width: 220px; 
        height:60px;
     }
     .theme a{
         margin-left: 20px;
         font-size: 20px;
         color: black;
     }
     #family{
         width:190px;
     }
        .animaux{
            width: 270px;
        }
        .icone {
            width: 40px;
            height: 40px;
            border: 10px solid #F2F2F2;
            border-radius: 60%;
        }
       
      
        #info-icone{
            background:  no-repeat;
            border:1px solid #F2F2F2;
            width: 30px;
            height: 30px;
            margin-top: 10px;
        }
        .info{
            width:100%;
        }
        .info p {
            margin-left: 10px;
            font-size: 20px;
        }
        .populaire{     
            order:1;
            background-color:  #F2F2F2;
            width:33%;
            
            border-radius:5%;
            display: flex;
            flex-direction: column;
            align-items: center;  
        }
        section aside{
            
            margin-bottom: 30px;
            margin-top: 40px;
            align-self: flex-start;
            width: 400px;
            margin-left: 30px;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .chart-line{
            
            width: 30px;
            height: 30px;
            margin-top: 5px;
        }
        .vignette{
           align-self: center;
            margin-bottom: 50px;
            
            border:1px solide white;
            box-shadow: white 5px 5px 5px;
            width:400px;
            
           border-radius: 18%;
           background-color:white;
           display: flex;
           flex-direction: row;
           font-size: 14px;
        
        }
        .vignette img {
            width: 160px;
            height: 160px;
            border-radius: 18% 0 0 18%;
            margin-right:20px;
        }
        .vignette p{
            margin-top: 10px;
        }
        #hotes{
            width:250px;
        }
        #hotelbb{
            width:180px;
        }
        
        .note{
        display: flex;
        margin-top: 0;
        }
        .star-solid{
       
        width: 20px;
        height: 20px;
        }
        .star-regular{
        
        width: 20px;
        height: 20px;
        }
        .hebergement {
            order:0;
            
          
            border-radius:5%;
            width:62%;
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            
            }
            .hebergement aside{
            width:100%;
            margin-left: 30px;
            
            }
            .vignette2{
            border: 1px solid #F2F2F2;
            box-shadow: #F2F2F2 5px 5px 5px;
            width: 270px;
            border-radius:10%;
        
            padding-bottom: 20px;
            font-size: 13px;
            }
            .vignette2-container{
                margin-left: 10px;
            }
            .vignette2 img{
                width:270px;
                height:150px;
                border-radius: 10% 10% 0 0%;
            }
            .vignette2 .detail{
                margin-left: 15px;
            }
            .note{
                margin-top:10px
            }
            .hebergement a{
                color:black;
                font-size:15px;
                align-self:flex-start;
                margin-top: 20px;
                margin-left: 30px;
                width:100%;
            }
            .activite{
                order:2;
                width:100%;
                align-self: flex-start;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            
            }
            .activite aside{
                margin-left: 30px;
                width:100%;
            }
            .activite .vignette2{
                font-size: 13px;
            }
            .petit {
                
                display: flex;
                flex-direction: column;
               
            }
            
            
            #vieux{
                height:400px;
                width:320px;
                
            }
            #vieux-port{
                width: 320px ;
               
            }
            #parc-national{
                width: 320px ;
            }
            #national{
                width:320px;
                height:400px;
            }
            #fort-de{
                width:320px;
            }
            #fort-de img{
                width:320px;
                height:180px;
            }
            #ile{
                width:320px;
                margin-top:50px;
            }
            #ile img{
                width:320px;
                height:110px;
            }
            #notre-dame{
               width:320px; 
            }
            #notre-dame img{
                width:320px;
                height:120px
            }
            #parc-longchamp{
                width:320px;
                margin-top:40px;

            }
            #parc-longchamp img {
                width:320px;
                height:180px;
            }

            footer{
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                background-color:  #F2F2F2;
                padding-bottom: 50px;
            }
            footer div{
                width: 100%;
                margin-top: 40px;
            
                margin-left: 40px;
            }
            footer h2{
                margin-bottom: 20px;
            }
            footer a {
                color: black;
                font-size: 22px;
                
            }
    }
    
}